extends layout

block content
   if isCountry
      country
   if isCountryAdd
      add-country
   if isCity
      city
   if isCityAdd
      add-city
   if isState
      state
   if isStateAdd
      add-state