extends layout

block content
   if wheel1
      master
   else if wheel2
      addmaster
   else if wheel3
      lock
   else if wheel4
      addlock
   else if wheel5
      pole
   else if wheel6
      addpole